PATH_TO_ROOT_DOCKER_PROJ=../../
PATH_FROM_ROOT_TO_NGINX=proxy/nginx/
PATH_FROM_ROOT_TO_IOCAINE=proxy/iocaine/

SERVED_FILES_DIR=./files/
# use single quotes in case this hash has special characters like '$'!
ADMIN_PASSWORD_HASH='<...>'
ADMIN_ONLY_ACCESS=<...>
HIDDEN_FILES=<...>

FILE_SERVER_SCKT=<...>
