[Unit]
Description=periodic git commit of file server

[Service]
Type=oneshot
User=<REPLACE: preferably non-root user>
WorkingDirectory=<REPLACE: absolute path to file server's base directory>
ExecStart=/usr/bin/env bash git_auto_commit.sh
